.menu {
    position: fixed;
    width: 100%;
    top: 0;
}

main {
    padding-top: 80px; /* Altura do menu */
}

.editar, .excluir, #incluir, #alterar, #cancelar {
    float: right;
    width: 100px;
    margin: 5px;
}

#incluir {
    margin-top: 20px;
    margin-right: 13px;
}
.container {
    max-width: 100%;
}

.container > div {
    min-height: 85vh;
}

#offcanvasNavbarDark {
    max-width: fit-content;
}